# e-stat File converter 
##### GIS_workshop_0425 版
---
- 統計データ加工 (txt_to_xlsx)
- 統計データ結合 (statistics_merge) ※GISでもできます
- 境界データ結合 (boundary_merge) ※GISでもできます
---

In [3]:
import pandas as pd
import numpy as np
import geopandas
import glob
import os
#前提モジュール

### **・txt_to_xlsx (統計データ加工コード)**

※実行する前に・・・統計データファイル内に「txt_to_xlsx_convert」用のファイルを作りましょう。(その中のファイルを加工してくれます)

---

In [26]:
txt_path = "./txt_to_xlsx_convert/*txt"
txt_df_list = [os.path.splitext(os.path.basename(file))[0] for file in glob.glob(txt_path)]
print(txt_df_list) #ファイルがすべて入っているか確認しよう

#確認出来たら下のセルを実行しよう

['r04_4mesh_5134']

In [41]:
for file_name in txt_df_list:
    df = pd.read_csv(f"./txt_to_xlsx_convert/{file_name}.txt",sep=',', encoding='shift_jis')
    df_nan_name_list = []
    for k in range(4):
        df_nan_name_list.append(df.columns[k]) #前4列の列名を1つ下におろす作業
    df.columns = df.iloc[0]
    df = df.drop(index=0).reset_index(drop=True)
    df = df.rename_axis(None, axis=1)
    for i in range(len(df_nan_name_list)):
        df = df.rename(columns={df.columns[i]: df_nan_name_list[i]})
    df.columns = df.columns.str.replace('　', '')
    df = df[df['HTKSYORI'] != 2] #HTKSYORIが2の列、GASSAN列を削除
    df = df.drop(columns=['GASSAN','HTKSAKI'])
    df['KEY_CODE'] = df['KEY_CODE'].astype(int)
    df['KEY_CODE'] = df['KEY_CODE'].astype(str)
    for column in df.columns:
        if column != 'KEY_CODE':
            df[column] = pd.to_numeric(df[column], errors='coerce') #KEY_CODE以外を数値型に変換
    df.to_excel(f'./txt_to_xlsx_convert/{file_name}.xlsx', index=False)
#保存したものは統計データに入れておきましょう

,KEY_CODE,HTKSYORI,人口（総数）,人口（総数）男,人口（総数）女,０〜１４歳人口総数,０〜１４歳人口男,０〜１４歳人口女,１５歳以上人口総数,１５歳以上人口男,...,６人世帯数一般世帯数,７人以上世帯数一般世帯数,親族のみの世帯数一般世帯数,核家族世帯数一般世帯数,核家族以外の世帯数一般世帯数,６歳未満世帯員のいる世帯数一般世帯数,６５歳以上世帯員のいる世帯数一般世帯数,世帯主の年齢が２０〜２９歳の１人世帯数一般世帯数,高齢単身世帯数一般世帯数,高齢夫婦世帯数一般世帯数
5,513400022,1.0,45,20,25,4,4,0,58,24,...,1,0,19,16,3,2,26,0,9,8
7,513400024,0.0,31,12,19,0,0,0,31,12,...,0,0,9,5,4,0,13,0,4,4
8,513400031,1.0,54,30,24,1,0,1,64,36,...,0,0,19,16,3,0,26,3,9,6
13,513400054,1.0,9,5,4,2,2,0,11,5,...,1,0,4,3,1,0,5,0,1,2
14,513400061,1.0,30,15,15,3,2,1,39,20,...,0,0,12,10,2,0,16,0,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6549,513477984,0.0,719,396,323,127,75,52,525,287,...,0,4,151,143,8,25,62,38,18,21
6550,513477991,0.0,1133,520,613,65,34,31,995,444,...,3,4,264,234,30,19,305,11,150,57
6551,513477992,0.0,1163,548,615,82,46,36,1039,479,...,0,0,363,341,22,32,289,7,89,101
6552,513477993,0.0,559,289,270,36,16,20,475,244,...,0,1,132,118,14,14,82,30,20,23
6553,513477994,0.0,454,257,197,48,25,23,348,198,...,2,0,98,92,6,14,52,19,24,12

---